---
services:
  app:
    build:
      context: .
      dockerfile: ./deployment/docker/app/Dockerfile
      target: dev
    working_dir: /var/www
    volumes:
      - .:/var/www:cached
      - ./var/:/var/www/var:delegated
    ports:
      - "8082:80"
    environment:
      - APP_ENV=${APP_ENV}
      - COMPOSER_MEMORY_LIMIT=-1
      - PHP_DISPLAY_ERRORS=1
      - PHP_ERROR_REPORTING=32767
      - PHP_IDE_CONFIG=serverName=econumo
      - PHP_XDEBUG_REMOTE_HOST=docker.for.mac.localhost
    depends_on:
      - postgres

  postgres:
    image: postgres:17-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-econumo}
      POSTGRES_USER: ${POSTGRES_USER:-econumo}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-econumo}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
