@import "transaction-modal";

.account {
  background-color: $color-white;
  padding: 16px;
  height: 100vh;
  @include responsive(desktop) {
    padding: 24px;
  }
  //@media (min-width: $breakpoint-md-min) {
  //  height: 100vh;
  //}

  &-toolbar {
    display: flex;
    flex-direction: column;

    &-mobile {
      flex: 0 1 auto;
      @include responsive(desktop) {
        display: none;
      }
      &-head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;

        &-button {
          width: 32px;
          height: 32px;

          & .q-icon {
            width: 24px;
            height: 24px;
            color: $color-input-grey;
            font-weight: 600;
          }
        }

        &-title {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: $color-text-black;
          text-transform: uppercase;
          margin: 0;
          max-width: 60vw;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          & .q-field__native span {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: $color-text-black;
            text-transform: uppercase;
          }
        }
      }

      &-balance {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 8px 4px;
        margin-bottom: 8px;

        &-container {
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        &-icon {
          width: 24px;
          height: 24px;
          color: $color-input-grey;
          padding-right: 8px;
        }

        &-currency {
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          color: $color-text-black;
        }

        &-shared {
          display: flex;
          flex-wrap: nowrap;
          justify-content: normal !important;
          padding-right: 4px;
          @include responsive(desktop) {
            display: none;
          }
          &-avatar {
            margin-right: -8px;
            width: 28px;
            height: 28px;
            & img {
              border: 2px solid $color-white;
            }
          }
        }
      }

      &-search {
        margin-bottom: 8px;
      }
    }

    &-desktop {
      display: none;
      flex: 0 1 auto;
      @include responsive(desktop) {
        display: block;
        border-bottom: 1px solid $grey-light-color;
      }

      &-head {
        margin-bottom: 12px;

        &-title {
          font-style: normal;
          font-weight: normal;
          font-size: 24px;
          line-height: 28px;
          text-transform: uppercase;
          color: $color-text-black;
          margin: 0;
          align-self: center;
          display: flex;
          align-items: center;
          gap: 8px;
          min-width: 0;

          & .q-field__native span {
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            text-transform: uppercase;
            color: $color-text-black;
          }
        }

        &-icon {
          width: 24px;
          height: 24px;
          color: $color-input-grey;
          margin-left: 16px;
          margin-bottom: 7px;
          flex: 0 0 auto;
        }

        &-name {
          max-width: clamp(200px, 40vw, 520px);
        }
      }

      &-currency {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        &-shared {
          display: flex;
          flex-wrap: nowrap;
          justify-content: normal !important;
          align-items: center;
          padding-left: 16px;
          border-left: 1px solid $grey-light-color;

          &-icon {
            width: 16px;
            height: 16px;
            font-size: 16px;
            color: $color-input-grey;
          }

          &-note {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: $color-text-grey;
            padding: 0 8px;
          }

          &-avatar {
            margin-right: -8px;
            width: 28px;
            height: 28px;
            & img {
              border: 2px solid $color-white;
            }
          }
        }

        &-balance {
          display: flex;
          align-items: center;
          position: relative;

          &-check {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: $color-text-black;
            padding-right: 16px;
          }
        }

        &-settings {
          text-decoration: none;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: #808080;
        }
      }

      &-control {
        display: none;
        flex: 0 1 auto;
        @include responsive(desktop) {
          display: flex;
          justify-content: space-between;
          margin: 16px 0 8px 0;

          &-btn {
            font-size: 13px !important;
          }
          &-search {
            width: 256px !important;
          }
        }
      }
    }
  }

  &-transactions {
    flex: 1;
    align-items: stretch;
    align-content: stretch;
    background-color: $color-white;

    &-date {
      width: 100%;
      padding: 4px;
      position: relative;
      text-align: center;
      margin: 8px 0;
      @include responsive(desktop) {
        padding: 8px 16px 0 16px;
        margin: 16px 0;
        text-align: unset;
      }

      &-content {
        vertical-align: middle;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: $color-label-grey;
      }
    }

    &-item {
      background: $color-grey;
      border-radius: 16px;
      padding: 8px;
      margin-bottom: 4px;

      @include responsive(desktop) {
        padding: 9px 8px;
        background: $color-white;
        height: unset !important;
      }

      &-future {
        opacity: 0.3;
      }

      &-section {
        @include responsive(desktop) {
          flex-wrap: nowrap;
        }
      }

      &-wrapper {
        @include responsive(desktop) {
          width: 60%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: fit-content;
        }
      }

      &:hover {
        @include responsive(desktop) {
          background: $color-grey;
        }
      }

      &-container {
        display: flex;
        justify-content: space-between;
      }

      &-info {
        display: flex;

        &-avatar {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          width: 40px;
          min-width: 40px;
          height: 40px;
          background: $color-background-grey;
          border-radius: 50px;

          &-icon {
            width: 24px;
            height: 24px;
            color: $color-input-grey;
          }

          &-shared {
            position: absolute;
            top: 14px;
            right: -14px;
            width: 28px;
            height: 28px;
            border-radius: 32px;
            & img {
              border: 2px solid $color-grey;
            }
          }
        }

        &-description {
          margin-left: 28px;

          &-category {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: $color-text-black;
            margin: 2px 0 3px 0;
          }

          &-note {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: $color-text-grey;
          }
        }
      }

      &-check {
        @include responsive(desktop) {
          position: relative;
        }

        &-income {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 20px;
          margin-right: 8px;
          @include responsive(desktop) {
            vertical-align: middle;
          }
        }

        &-currency {
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 20px;
          margin-right: 0;
          color: $color-label-grey;
          @include responsive(desktop) {
            vertical-align: middle;
            margin-right: 8px;
          }
        }

        &-button {
          color: $color-input-grey;
          display: none;
          @include responsive(desktop) {
            display: inline-flex;
            width: 16px;
            height: 24px;
          }

          &-menu {
            width: 196px;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            padding: 8px;
          }

          &-item {
            padding: 6px 12px;
            border-radius: 8px;
          }

          &-section {
            color: $color-text-black;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;

            &.-delete {
              color: $color-red;
            }
          }
        }
      }

      &-tags {
        margin-top: 8px;

        &-tag {
          padding: 2px 4px;
          background: $color-light-grey;
          border-radius: 4px;
          font-style: normal;
          font-weight: 400;
          font-size: 11px;
          line-height: 13px;
          text-transform: uppercase;
          color: $color-input-grey;
          margin-left: 4px;

          &:first-child {
            margin-left: 0;
          }
        }

        &-block {
          margin-top: 4px;
        }

        &-payee {
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 16px;
          text-align: right;
          color: $color-text-grey;
        }

        &.-mobile {
          display: block;
          @include responsive(desktop) {
            display: none;
          }
        }

        &.-desktop {
          display: none;
          @include responsive(desktop) {
            display: block;
            margin-top: 0;

            & .account-transactions-item-tags-block {
              margin-top: 0;
              margin-bottom: 4px;
            }
            & .account-transactions-item-tags-payee {
              text-align: unset;

            }
          }
        }
      }
    }

    &-add-mobile {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      padding: 8px 0 3vh 0;
      background-color: $color-white;
      display: block;
      //margin-top: 8px;
      text-align: center;
      max-height: fit-content;
      @include responsive(desktop) {
        display: none;
      }
      @media (min-width: $breakpoint-md-min) {
        padding-bottom: 8px;
      }

      &-btn {
        position: relative;
        width: 240px;
      }
    }
  }

  &-preview-modal {
    & .q-dialog__inner {
      padding: 0;
    }

    &-card {
      width: 100%;
      max-width: 480px !important;
      border-top-left-radius: 16px !important;
      border-top-right-radius: 16px !important;

      @include responsive(desktop) {
        border-radius: 16px !important;
        width: 480px;
        height: auto;
        max-width: 480px;
      }
    }

    &-section {
      padding-bottom: 8px;
      @include responsive(desktop) {
        max-width: 480px;
      }

      &.-info {
        padding-top: 8px;
        padding-bottom: 80px;
      }
    }

    &-head {
      display: flex;
      justify-content: space-between;
      height: 32px;
      padding: 4px 0;
      margin-bottom: 16px;

      &-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        color: $color-text-black;
        white-space: nowrap;
        @include responsive(desktop) {
          font-weight: 300;
          font-size: 24px;
          line-height: 24px;
          text-transform: none;
        }
      }

      &-badge {
        display: flex;
        align-items: center;

        &-label {
          background: $color-green;
          border-radius: 4px;
          padding: 6px 12px;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          text-transform: uppercase;
          color: $color-white;

          &.-transfer {
            background: $color-text-grey;
          }
        }
      }
    }

    &-account {
      &.-recipient {
        margin-bottom: 8px;
      }

      &-title {
        padding: 4px 8px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $color-label-grey;
        margin-bottom: 8px;
      }

      &-item {
        padding: 8px 12px;
        background: $color-grey;
        border-radius: 8px;

        &-avatar {
          min-width: 24px;
          color: $color-input-grey;
          padding-right: 18px;
        }

        &-box {
          display: flex;
          flex-direction: column;

          &-name {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: $color-text-black;
            margin-bottom: 4px;
          }

          &-balance {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: $color-input-grey;
            padding-left: 0 !important;
          }
        }
      }

      &-info {

        &-item {
          padding: 4px 8px;
          margin-bottom: 8px;

          &-label {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: $color-label-grey;
            margin-bottom: 4px;

            &.-access {
              margin-bottom: 0;
            }
          }

          &-content {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: $color-input-grey;

            &.-tags {
              padding: 4px 8px;
              width: fit-content;
              background: $color-grey;
              border-radius: 4px;
              text-transform: uppercase;
            }
          }
        }
      }
    }

    &-actions {
      position: fixed;
      bottom: 0;
      background: $color-white;
      width: 100%;
      max-width: 480px !important;
      padding: 16px;
      flex-wrap: nowrap;
      @include responsive(desktop) {
        position: relative;
      }

      &-btn {
        min-width: 48px !important;
        border-radius: 16px !important;

        &.-wide {
          width: 100%;
        }
      }
    }
  }
}
