.account-access-dialog-modal {

  &-section {
    padding: 0;

    &.-padding {
      margin-bottom: 8px;
    }
  }

  &-user {
    display: flex;
    padding: 8px;
    border-radius: 8px;

    &-avatar {
      width: 32px;
      height: 32px;
      margin-right: 16px;
    }

    &-name {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &-title {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $color-input-grey;
      }
    }
  }

  &-card {
    width: 328px;
    padding: 8px;
    border-radius: 8px !important;
  }

  &-item {
    min-height: 40px;
    background: $color-white;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 10px 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $color-text-black;

    &.-delete {
      color: $color-red;
    }

    &.-cancel {
      color: $color-text-grey;
    }

    &:hover {
      color: $color-white;
      background: $color-magenta;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
