
.access-modal {
    &-users-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    &-list {
      .preview-modal-account-info-access-item {
        margin-bottom: 4px;
  
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  
  .preview-modal-account-info-access {
    &-button {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0.5rem;
      border: none;
      background: none;
      cursor: pointer;
      text-align: left;
  
      &:hover {
        background-color: var(--q-primary-fade);
      }
  
      &:focus-visible {
        outline: 2px solid var(--q-primary);
        outline-offset: -2px;
      }
    }
  
    &-item {
      &-avatar {
        margin-right: 1rem;
  
        &-img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
  
      &-user {
        flex: 1;
  
        &-name {
          font-weight: 500;
          font-size: 1rem;
          color: var(--q-primary);
          margin-bottom: 0.25rem;
        }
  
        &-role {
          font-size: 0.875rem;
          color: var(--q-secondary);
        }
      }
    }
  }
  