.confirmation-dialog {
  padding: 16px;
  min-width: 320px;
  border-radius: 16px !important;

  &-section {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 24px;
  }

  &-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: $color-text-black;
    padding-bottom: 16px;
  }

  &-label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $color-text-grey;
  }

  &-actions {
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;

    &-buttons {
      flex: 1 0 0;
    }
  }
}
