.settings-connections {
  padding: 16px;
  background: $color-white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: $breakpoint-xs !important;
  overflow-y: auto;

  &-wrapper {
    @include responsive(desktop) {
      max-width: 480px;
    }
  }

  &-header {
    margin: 8px 0 16px;
  }

  &-info {
    margin-top: 30px;
    border-top: 1px solid $color-grey;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $color-label-grey;
    padding-top: 48px;
    @include responsive(desktop) {
      text-align: left;
      padding-top: 16px;
    }

    & ol > li {
      margin-top: 10px;
    }
  }

  &-empty {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $color-label-grey;
    padding-top: 48px;
    @include responsive(desktop) {
      text-align: left;
      padding-top: 16px;
    }
  }

  &-controls {
    display: none;
    @include responsive(desktop) {
      display: flex;
      gap: 8px;
      max-width: 424px;
    }

    &-btn {
      font-size: 13px;
      line-height: 15px;
    }
  }

  &-list {
    @include responsive(desktop) {
      margin-top: 24px;
    }

    &-item {
      display: flex;
      flex-direction: row;
      padding: 8px;
      background: $color-grey;
      border-radius: 16px;
      margin-bottom: 8px;
      @include responsive(desktop) {
        justify-content: space-between;
      }

      &:hover {
        background: $color-hover-grey;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &-section {
        display: flex;
        flex-direction: row;
      }

      &-avatar-img {
        width: 48px;
        height: 48px;
        border-radius: 12px;
      }

      &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4px 0;
      }

      &-name {
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        color: $color-text-black;
      }

      &-description {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: $color-text-grey;
        margin-left: 0 !important;
        margin-top: 4px;
      }

      &-more {
        padding-right: 0;

        &-btn {

        }
      }
    }
  }

  &-generate {
    position: fixed;
    bottom: 0;
    width: calc(100% - 32px);
    padding: 16px 0;
    background: $color-white;
    @include responsive(desktop) {
      display: none;
    }

    & .q-ripple {
      display: none;
    }

    &-btn {
      width: 100%;
    }
  }

  &-generate-modal {
    & .q-dialog__inner {
      padding: 16px;
    }

    &-label {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      color: $color-text-black;
      margin-bottom: 8px;
    }

    &-instruction {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: $color-text-grey;
      margin-bottom: 16px;
    }

    &-code {
      font-style: normal;
      font-weight: 300;
      font-size: 32px;
      line-height: 38px;
      text-align: center;
      letter-spacing: 0.2em;
      color: $color-text-black;
    }

    &-action {
      margin-top: 16px;

      &-btn {
        width: 100%;
      }
    }
  }

  &-accept-modal {
    & .q-dialog__inner {
      padding: 16px;
    }

    &-label {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      color: $color-text-black;
      margin-bottom: 8px;
    }

    &-instruction {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: $color-text-grey;
      margin-bottom: 16px;
    }

    &-actions {
      margin-top: 24px;
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      gap: 8px;
      width: 100%;

      &-btn {
        width: 50%;
      }
    }
  }

  &-modal {
    & .q-dialog__inner {
      padding: 0;
    }

    &-card {
      border-top-right-radius: 16px !important;
      border-top-left-radius: 16px !important;
      width: 100%;
      position: relative;
      max-width: unset !important;
      @include responsive(desktop) {
        width: 480px;
        border-radius: 16px !important;
      }

      &-label {
        display: none;
        @include responsive(desktop) {
          display: block;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          text-transform: uppercase;
          color: $color-text-black;

        }
      }

      &-container {
        @include responsive(desktop) {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 4px 0;
          margin-bottom: 12px;
        }
      }

      &-user {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 16px;
        padding-bottom: 24px;
        @include responsive(desktop) {
          flex-direction: row-reverse;
          align-items: center;
          padding: 0;
        }

        &-avatar {
          width: 96px;
          height: 96px;
          border-radius: 24px;
          margin-bottom: 24px;
          @include responsive(desktop) {
            border-radius: 32px;
            width: 24px;
            height: 24px;
            margin: 0;
          }
        }

        &-name {
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
          color: $color-text-black;
          @include responsive(desktop) {
            font-size: 16px;
            line-height: 19px;
            text-align: right;
            color: $color-text-grey;
            margin-right: 16px;
          }
        }

        &-email {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: $color-text-grey;
          margin-top: 4px;
        }
      }

      &-item {

        &-last {
          padding-bottom: 80px;
          @include responsive(desktop) {
            padding-bottom: 0;
          }
        }

        &-label {
          padding: 4px 8px;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: $color-label-grey;
          @include responsive(desktop) {
            display: none;
          }
        }

        &-hint {
          padding: 0 8px 8px 8px;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: $color-label-grey;
        }

        &-item {
          margin-top: 8px;
          padding: 8px 12px;
          background: $color-grey;
          border-radius: 8px;
          min-height: 52px;
          position: relative;

          & .q-ripple {
            display: none;
          }

          &-avatar {
            min-width: 24px;
            color: $color-input-grey;
            padding-right: 18px;
          }

          &-name-block {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: $color-text-black;

            & > div {
              display: flex;
              align-items: center;
              flex-wrap: wrap;
            }
          }

          &-role {
            margin-top: 4px;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: $color-label-grey;
          }

          &-owner-hint {
            display: inline-block;
            margin-left: 6px;
            padding: 1px 4px;
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            color: $color-white;
            background: $color-input-grey;
            border-radius: 3px;
          }

          &-shared-hint {
            display: inline-block;
            margin-left: 6px;
            padding: 1px 4px;
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 12px;
            color: $color-white;
            background: $color-magenta;
            border-radius: 3px;
          }

          &-shared {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: normal !important;
            position: absolute;
            top: 12px;
            right: 18px;
            padding-right: 0;

            &-avatar {
              margin-right: -12px;
              width: 28px;
              height: 28px;
              & img {
                border: 2px solid $color-grey;
              }
            }

          }
        }
      }
    }

    &-action {
      position: fixed;
      bottom: 0;
      background: $color-white;
      width: 100%;
      padding: 16px;
      flex-wrap: nowrap;
      @include responsive(desktop) {
        display: none;
      }

      &-btn {
        min-width: 48px !important;
        border-radius: 16px !important;

        &.-wide {
          width: 100%;
        }
      }
    }
  }
}
