.context-menu-modal {
  &-card {
    width: 328px;
    padding: 8px;
    border-radius: 8px !important;

    &-label {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      color: $color-text-black;
      padding: 12px 9px;
    }

    &-list {
      list-style-type: none;
      padding: 0;
      margin: 8px 0 0;

      &-item {
        margin-bottom: 8px;

        &-btn {
          width: 100%;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          border-radius: 8px !important;
          color: $color-text-black;
          padding: 10px 12px;
          background: transparent;
          height: 40px !important;
          min-height: 40px !important;
          text-transform: none;

          &.-delete {
            color: $color-red;
          }

          & .q-btn__content {
            justify-content: left;
          }
        }
      }

      &-item:last-child {
        margin: 0;
      }
    }
  }
}
