.context-menu-button {
  color: $color-input-grey;
  display: none;

  @include responsive(desktop) {
    display: inline-flex;
    width: 16px;
    height: 24px;
  }

  &-control {
    padding: 0;
    min-height: 24px;
    width: 24px;
    color: $color-input-grey;

    & .q-icon {
      width: 24px;
      height: 24px;
    }

    & .q-ripple {
      display: none;
    }
  }

  &-control:before {
    box-shadow: none !important;
    transition: none !important;
  }

  &-menu {
    width: 196px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 8px;
  }

  &-item {
    padding: 6px 12px;
    border-radius: 8px;
  }

  &-section {
    color: $color-text-black;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    &.-delete {
      color: $color-red;
    }
  }
}
