.form-input {
  &.q-field--outlined .q-field__control {
    border-radius: 8px !important;
  }
  &.q-field--outlined .q-field__control::before {
    border: none !important;
    background: $color-grey ;
    height: 48px !important;
    width: 100% !important;
    transition: none !important;
  }
  &.q-field--outlined .q-field__control::after {
    height: 48px !important;
    width: 100% !important;
    transition: none !important;
  }
  &.q-field--outlined.q-field--highlighted .q-field__control:after {
    border: none !important;
  }
  & .q-field__inner {
    height: 48px !important;
  }
  & .q-field__append {
    display: none;
  }
  & .q-field__control {
    height: 48px !important;
  }
  & .q-field__native {
    height: 48px !important;
    color: $color-input-grey;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    caret-color: $color-magenta;
    padding: 23px 6px 6px 0;
  }
  & .q-field__label {
    top: 5px;
    color: $color-label-grey;
    font-size: 14px;
    line-height: 16px;
    transition: none;
    transform: none;
  }
  & .q-field__bottom {
    width: 100% !important;
    padding: 2px 12px 0 !important;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $color-text-invalid;
  }

  &.-narrow {
    &.q-field--outlined .q-field__control::before {
      height: 32px !important;
      width: 100% !important;
    }
    &.q-field--outlined .q-field__control::after {
      height: 32px !important;
      width: 100% !important;
    }
    & .q-field__inner {
      height: 32px !important;
    }
    & .q-field__control {
      height: 32px !important;
    }
    & .q-field__native {
      height: 32px !important;
      font-size: 14px;
      line-height: 16px;
      padding: 8px 8px 8px 0;
    }
    & .q-field__label {
      top: 8px;
    }
    &.q-field--float .q-field__label {
      display: none !important;
    }
    & .q-field__bottom {
      width: 100% !important;
    }
  }
}

.form-select {

  &-icon {
    width: 24px;
    height: 24px;
    color: $color-input-grey;
  }
  & .q-field__before {
    width: 48px;
    height: 48px;
    background-color: $color-grey;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-right: 7px;
  }
  & .q-field__after {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: 7px;
  }
  & .q-field__control {
    min-height: 48px;
    height: 48px;
    background: $color-grey;
    border-radius: 8px;
  }
  & .q-field__control:before {
    display: none;
  }
  & .q-field__control:after {
    display: none;
  }
  & .q-field__control-container {
    padding-top: 19px !important;
  }
  & .q-field__append {
    height: 48px;
    width: 24px;
    padding: 0;
    color: $color-input-grey;
  }
  & .q-field__append .text-negative {
    display: none;
  }
  & .q-field__label {
    top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $color-label-grey;
    transition: transform 0.36s cubic-bezier(0.4, 0, 0.2, 1), max-width 0.396s cubic-bezier(0.4, 0, 0.2, 1), top 0.396s cubic-bezier(0.4, 0, 0.2, 1);
  }
  &.q-field--float .q-field__label {
    top: 6px;
    transform: translateY(0);
  }
  & .q-field__native {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $color-input-grey;
    padding: 0;
  }
  & .q-field__bottom {
    color: $color-text-invalid;
    font-size: 12px;
    line-height: 12px;
    min-height: unset;
    padding: 4px 8px 0 8px;
  }
  &.q-field--error .q-field__label {
    color: $color-text-invalid;
  }
}


.form-checkbox {
  height: 40px;

  & .q-checkbox__bg {
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background: $color-background-grey;
    border: none;
  }
  & .q-checkbox__inner {
    width: 16px !important;
    height: 16px;
    padding: 0;
    min-width: auto;
    margin-right: 16px;
  }
  & .q-checkbox__inner--truthy .q-checkbox__bg {
    background: $color-yellow;
  }
  & .q-checkbox__svg {
    color: $color-dirty-yellow;
    padding: 4px;
    overflow: visible;
  }
  & .q-checkbox__inner:before {
    display: none;
  }
  & .q-checkbox__truthy {
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 10px;
  }
  & .q-checkbox__label {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $color-text-black;
    padding: 0;
    width: auto;
  }
}


.econumo-btn {
  border-radius: 8px !important;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  &.-large {
    height: 48px !important;
  }
  &.-medium {
    height: 40px !important;
    min-height: 40px !important;
  }
  &.-small {
    height: 32px !important;
    min-height: 32px !important;
  }
  &.-extra-small {
    height: 24px !important;
    min-height: 24px !important;
  }
  &.-yellow {
    color: $color-dirty-yellow;
    background: $color-yellow;
  }
  &.-grey {
    color: $color-input-grey;
    background: $color-grey;
  }
  &.-magenta {
    color: $color-white;
    background: $color-magenta;
  }
  &.-transparent {
    color: $color-label-grey;
    background: transparent;
  }
  &.-transperent-magenta {
    color: $color-magenta;
    background: transparent;
  }
}

.econumo-modal {
  width: 320px;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 16px !important;
  background-color: $color-white;
}

.econumo-spinner {
  color: $color-yellow;
  width: 32px;
  height: 32px;

  & .path {
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 7px;
  }
}

.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.flex-break {
  flex-basis: 100%;
  height: 0;
}

.income-color {
  color: $color-income;
}
.expense-color {
  color: $color-expense;
}
.italic {
  font-style: italic;
}
.draggable {
  cursor: grab;
}
