.prompt-modal {

  &-card {

    &-section {
      padding: 0;

      &-label {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: $color-text-black;
        margin-bottom: 16px;

      }
    }

    &-actions {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      width: 100%;
      margin-top: 24px;
      padding: 0;

      &-button {
        width: 50%;
      }
    }
  }
}
