// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$breakpoint-xs: 360px !default; // 0-360
$breakpoint-sm: 720px !default; // 360-720
$breakpoint-md: 1024px !default; // 720-1024
$breakpoint-lg: 1366px !default; // 1024-1366
$breakpoint-xxl: 1920px !default;

$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;


$grey-light-color: #CCCCCC;
$color-yellow: #FFC71F;
$color-dirty-yellow: #765910;
$color-magenta: #BD51CF;
$color-magenta-light: #F4CFFF;
$color-magenta-dark: #93489F;
$color-magenta-smooth: #D988F3;
$color-grey: #F5F5F5;
$color-white: #FFFFFF;
$color-green: #4E8F26;
$color-red: #D34949;
$color-light-grey: #E6E6E6;
$color-thin-grey: #B2B2B2;
$color-hover-grey: #EBEBEB;


$color-text-grey: #808080;
$color-text-black: #333333;
$color-input-grey: #666666;
$color-label-grey: #999999;
$color-text-invalid: #D34949;
$color-background-grey: #DBDBDB;

$color-income: #4E8F26;
$color-expense: #D34949;


.text-econumo-yellow {
  color: $color-yellow !important;
}
.bg-econumo-yellow {
  background: $color-yellow !important;
}

.text-econumo-purple {
  color: $color-magenta !important;
}
.bg-econumo-purple {
  background: $color-magenta !important;
}

.text-econumo-income {
  color: $color-income !important;
}
.bg-econumo-income {
  background: $color-income !important;
}

.text-econumo-grey {
  color: #dedede !important;
}
.bg-econumo-grey {
  background: #dedede !important;
}

@mixin responsive($range) {
  @if $range == mobile {
    @media (min-width: $breakpoint-xs) {
      @content;
    }
  } @else if $range == tablet {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  } @else if $range == desktop {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $range == full-desktop {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  }
}
