.responsive-modal {
  min-width: $breakpoint-xs;

  &-header {
    display: none;
    @include responsive(desktop) {
      display: block;
      padding: 6px 0;
      margin-bottom: 16px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      color: $color-text-black;
    }
  }

  &-toolbar {
    width: auto;

    &-link {
      display: flex;
      align-items: center;
      background: $color-grey;
      border-radius: 8px;

      &-item {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: $color-input-grey;
        padding: 6px 0 6px 8px;
      }

      &-arrow {
        width: 24px;
        height: 24px;

        &-img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  & .q-dialog__inner {
    padding: 0;
  }

  &-card {
    max-height: 100vh !important;
    height: 100vh;
    max-width: 100% !important;
    width: 100% !important;
    border-radius: 0 !important;
    @include responsive(tablet) {
      border-radius: 16px !important;
      height: auto;
      width: 480px !important;
    }
  }

  &-control {
    max-height: 48px;
    margin-bottom: 8px;

    &:has(.q-field--error) {
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-input {
      & .q-field__control {
        height: 48px;
        background: $color-grey;
        border-radius: 8px;

        &:before {
          border: none;
          transition: none;
        }
        &:after {
          display: none;
        }
      }
      & .q-field__append {
        display: none;
      }
      & .q-field__native {
        padding: 6px 0 0 12px;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        color: $color-input-grey;
        caret-color: $color-magenta;
      }
      &.q-field--float .q-field__label {
        opacity: 0;
      }
      & .q-field__label {
        display: block;
        bottom: 8px;
        left: 12px;
        top: unset;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        color: $color-thin-grey;
        animation: none;
        transition: opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1);
      }
      &.q-field--error .q-field__label {
        color: $color-text-invalid;
      }
      & .q-field__bottom {
        color: $color-text-invalid;
        font-size: 12px;
        line-height: 12px;
        min-height: unset;
        padding: 4px 8px 0 8px;
      }
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      border-radius: 8px;
      background: $color-grey;

      &-img {
        color: $color-input-grey;
      }
    }

    & .q-field__before {
      padding-right: 8px;
      height: 48px;
    }
  }

  &-section-icon {
    @media (max-width: $breakpoint-sm) {
      padding: 0 15px 15px 15px;
    }
  }

  &-section-status {
    padding: 10px 15px 0 15px;
  }

  &-icon {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 8px;
    padding: 0 !important;
    align-content: flex-start;
    justify-content: space-between;

    &-carousel {
      @media (max-width: $breakpoint-sm) {
        height: fit-content !important;
      }

      & .q-panel {
        overflow: hidden !important;
      }

      .navigation-color {
        color: $color-magenta-dark !important;
      }
    }

    &-label {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: $color-label-grey;
      padding: 4px 8px;

    }

    &-btn {
      width: 48px;
      height: 48px;
      border-radius: 8px;
      background: $color-grey !important;

      &.-active {
        background: $color-magenta-light !important;
      }

      &:before {
        box-shadow: none;
      }

      &.-active .q-icon {
        color: $color-magenta-dark;
      }
      & .q-icon {
        color: $color-input-grey;
      }
    }

    & .q-ripple {
      display: none;
    }
    & .q-btn--actionable.q-btn--standard:active:before, .q-btn--actionable.q-btn--standard.q-btn--active:before {
      box-shadow: none;
    }
  }

  &-actions {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: fixed;
    z-index: 3;
    bottom: 0;
    width: 100%;
    padding: 16px;
    background-color: $color-white;
    @include responsive(tablet) {
      position: relative;
    }

    &-button {
      width: 50%;
    }
  }
}
