// Стили используются для страниц настроек тэгов, категорий, контрагентов

.settings-classification {
  padding: 16px;
  background: $color-white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: $breakpoint-xs !important;
  overflow-y: auto;

  &-wrapper {
    @include responsive(desktop) {
      max-width: 480px;
    }
  }

  &-toolbar-mobile {
    margin-bottom: 10px;
  }

  &-header {
    margin: 8px 0 16px;
  }

  &-create-class {
    display: none;
    @include responsive(desktop) {
      display: block;
      margin-bottom: 16px;
    }

    &-btn {
      width: 208px;
      font-size: 13px;
      line-height: 15px;
    }
  }

  &-sort {
    margin-bottom: 16px;
    @include responsive(desktop) {
      margin-bottom: 24px;
    }

    &-btn {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $color-text-grey;
      padding: 4px;
      min-height: 32px;
    }
    & .q-focus-helper {
      display: none;
    }

    & .q-icon {
      margin-right: 14px;
      font-size: 24px;
      color: $color-magenta;
    }
  }

  &-empty {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $color-label-grey;
    padding-top: 48px;
    @include responsive(desktop) {
      text-align: left;
      padding-top: 16px;
    }
  }

  &-list {

    &-item {
      margin-bottom: 4px;
      padding: 8px 0 8px 8px;
      height: 48px;
      @include responsive(desktop) {
        padding: 8px;
        border-radius: 8px;

        &:hover {
          background: $color-hover-grey;

          & .settings-classification-list-item-check-section .q-icon {
            display: block;
          }
        }
      }

      &-shared {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: normal !important;
        position: absolute;
        top: 12px;
        right: 25px;
        padding-right: 0;
        @include responsive(desktop) {
          right: 50px;
        }

        &-icon {
          width: 16px;
          height: 16px;
          color: $color-magenta;
          margin-left: 4px;
        }

        &-avatar {
          margin-right: -12px;
          width: 28px;
          height: 28px;
          & img {
            border: 2px solid $color-grey;
          }
        }
      }

      &-avatar {
        min-width: 24px;
        color: $color-input-grey;
        padding-right: 6px;
      }

      &-check-section {
        @include responsive(desktop) {
          padding-left: 0 !important;
        }
      }

      &-check-section .q-icon {
        @include responsive(desktop) {
          display: none;
        }
      }

      &-text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: $color-text-black;
        min-width: 0;

        &.-archived {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
        }
      }

      &-name {
        display: block;
      }

      & .q-toggle__thumb:before {
        display: none;
      }

      & .q-toggle__inner--falsy {
        & .q-toggle__track {
          background: $color-input-grey;
          opacity: 1;
        }
        & .q-toggle__thumb:after {
          background: $color-thin-grey;
          box-shadow: none;
        }
      }

      & .q-toggle__inner--truthy {
        color: $color-magenta-smooth;

        & .q-toggle__track {
          background: $color-magenta-dark;
          opacity: 1;
        }
        & .q-toggle__thumb:after {
          box-shadow: none;
        }
      }

      &-description-archived {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: $color-label-grey;
      }

      &-avatar {
        min-width: 24px;
        color: $color-input-grey;
      }

      &-sortable {
        @include responsive(desktop) {
          display: flex;
          color: $color-input-grey;
        }
      }
    }
  }

  &-modal {

    &-header {
      display: none;
      @include responsive(desktop) {
        display: block;
        padding: 6px 0;
        margin-bottom: 16px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: $color-text-black;
      }
    }

    & .q-dialog__inner {
      padding: 0;
    }

    &-card {
      max-height: 100vh !important;
      height: 100vh;
      border-radius: 0 !important;
      max-width: 100% !important;
      @include responsive(desktop) {
        border-radius: 16px !important;
        height: auto;
        max-width: 480px !important;
      }
    }

    &-toggle {
      margin-bottom: 16px;

      &-btn {
        width: 100%;
        box-shadow: none;
        border-radius: 8px;
      }

      & .q-btn {
        background: $color-grey;
        width: 50%;
        color: $color-input-grey;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        padding: 9px 16px;
      }

      & .bg-primary {
        background: $color-magenta !important;
      }

      & .q-ripple {
        display: none;
      }
    }

    &-control {
      max-height: 48px;
      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 8px;
        background: $color-grey;

        &-img {
          color: $color-input-grey;
        }
      }

      & .q-field__before {
        padding-right: 8px;
        height: 48px;
      }
    }

    &-section-icon {
      padding: 0 16px 80px;
    }

    &-icon {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin-top: 8px;

      &-label {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $color-label-grey;
        padding: 4px 8px;
      }

      &-btn {
        width: 48px;
        height: 48px;
        border-radius: 8px;
        background: $color-grey !important;

        &.-active {
          background: $color-magenta-light !important;
        }

        &:before {
          box-shadow: none;
        }

        &.-active .q-icon {
          color: $color-magenta-dark;
        }
        & .q-icon {
          color: $color-input-grey;
        }
      }

      & .q-ripple {
        display: none;
      }
      & .q-btn--actionable.q-btn--standard:active:before, .q-btn--actionable.q-btn--standard.q-btn--active:before {
        box-shadow: none;
      }
    }

    &-actions {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      column-gap: 8px;
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 3;
      width: 100%;
      padding: 16px 16px 3vh 16px;
      background-color: #FFFFFF;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
      @include responsive(tablet) {
        position: relative;
        box-shadow: none;
      }

      &.q-card__actions--horiz > .q-btn-item + .q-btn-item {
        margin: 0;
      }

      &-button {
        width: 50%;
      }
    }
    //&-actions {
    //  position: sticky;
    //  display: flex;
    //  justify-content: space-between;
    //  bottom: 0;
    //  background: $color-white;
    //  width: 100%;
    //  padding: 16px;
    //  flex-wrap: nowrap;
    //  @include responsive(desktop) {
    //    position: relative;
    //  }
    //
    //  &-button {
    //    width: 50%;
    //  }
    //}
  }

  &-replace-modal {

    &-card {
      border-radius: 16px !important;
      border-bottom-right-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      @include responsive(desktop) {
        border-bottom-right-radius: 16px !important;
        border-bottom-left-radius: 16px !important;
        max-width: 480px !important;
      }

      &-header {
        padding: 6px;
        margin-bottom: 16px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
        color: $color-text-black;
      }

      &-list {

        &-item {
          margin-bottom: 4px;
          padding: 12px 8px;
          border-radius: 8px;

          &:last-child {
            margin-bottom: 0;
          }

          &-avatar {
            min-width: 24px;

            &-icon {
              color: $color-input-grey;
            }
          }

          &-name {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: $color-text-black;
          }
        }

        &-item:hover {
          background: $color-magenta;

          & .settings-classification-replace-modal-card-list-item-avatar-icon {
            color: $color-magenta-light;
          }

          & .settings-classification-replace-modal-card-list-item-name {
            color: $color-white;
          }
        }
      }
    }

    &-note {
      display: flex;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $color-text-grey;
      padding: 16px 16px 0;
      @include responsive(desktop) {
        align-items: center;
      }

      &-icon {
        padding-right: 12px;
      }
    }
  }
}
