.settings {
  padding: 16px;
  background: $color-white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;

  &-label-header {
    display: none;
    @include responsive(desktop) {
      display: block;
      margin: 8px 0 24px;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 28px;
      color: $color-text-black;
    }
  }

  &-toolbar-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 0 1 auto;
    margin-bottom: 16px;
    height: 32px;
    @include responsive(desktop) {
      display: none;
    }

    &-container {
      width: 32px;
    }

    &-button {
      width: 32px;
      height: 32px;
      min-height: 32px;

      & .q-icon {
        width: 24px;
        height: 24px;
        color: $color-input-grey;
        font-weight: 500;
      }
    }

    &-title {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 32px;
      color: $color-text-black;
      text-transform: uppercase;
      margin: 0;
    }
  }

  &-toolbar-desktop {
    display: none;
    @include responsive(desktop) {
      display: block;
    }
  }

  &-breadcrumbs {
    padding-bottom: 8px;
    display: flex;
    align-items: center;

    &-arrow {
      width: 16px;
      height: 16px;
      margin: 0 4px;
    }

    &-item {
      padding: 2px 4px;
      width: fit-content;
      background: $color-grey;
      border-radius: 4px;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: $color-label-grey;
      cursor: pointer;
    }
  }

  &-main {
    @include responsive(desktop) {
      max-width: 480px;
    }

    &-label {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      color: $color-label-grey;
      padding: 12px 8px 4px;
      margin-top: 8px;
    }

    &-user {
      padding: 8px;
      background: $color-grey;
      border-radius: 16px;

      &-avatar {
        width: 48px;
        height: 48px;

        &-img {
          border-radius: 12px;
        }
      }

      &-block {
        margin-left: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &-name {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        color: $color-text-black;
        margin-bottom: 4px;
      }

      &-login {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: $color-text-grey;
      }
    }

    &-item {
      background: $color-grey;
      border-radius: 8px;
      padding: 5px 12px 6px;
      margin-top: 8px;

      &-field {
        pointer-events: none;

        &-currency {
          pointer-events: auto;

          &.q-field--highlighted {
            .settings-main-item-field-control {
              display: none;
            }
          }
        }

        &.q-field--auto-height .q-field__native {
          min-height: 19px;
          height: auto;
        }

        &.q-field--labeled .q-field__control-container {
          padding-top: 0;
        }

        &.q-field--labeled .q-field__control-container .q-field__label {
          top: 10px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: $color-label-grey;
        }

        &.q-field--labeled .q-field__control-container .q-field__native {
          height: 19px;
          padding-top: 17px;
        }

        & .q-field__control {
          min-height: 37px;
          height: auto;

          & .q-field__append.q-field__marginal {
            height: auto;
          }
        }

        &-control {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: $color-input-grey;
        }

        &-arrow {
          color: $color-input-grey;
        }
      }
    }
  }
}

.q-dialog {
  .settings-main-item-field-currency-control {
    display: none;
  }
}
