.settings-accounts {
  padding: 16px;
  background: $color-white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: $breakpoint-xs !important;
  overflow-y: auto;

  &-wrapper {
    @include responsive(desktop) {
      max-width: 480px;
    }
  }

  &-header {
    margin: 8px 0 16px;
  }

  &-create-folder {
    display: none;
    @include responsive(desktop) {
      display: block;
      width: 208px;
      margin-bottom: 24px;
    }

    &-btn {
      width: 100%;
    }
  }

  &-empty {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $color-label-grey;
    padding-top: 48px;
    @include responsive(desktop) {
      text-align: left;
      padding-top: 16px;
    }
  }

  &-account {
    margin-bottom: 8px;

    &-head {
      display: flex;
      justify-content: space-between;
      height: 40px;
      min-height: 40px;
      padding: 8px 0;

      &-title {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: $color-text-black;
        min-width: 0;
      }

      &-name {
        display: flex;
        align-items: center;
        min-width: 0;
        gap: 4px;
      }

      &-controls {
        display: flex;
      }

      &-control {
        margin-left: 16px !important;
        flex: none;

        &-btn {
          padding: 0;
          min-height: 24px;
          width: 24px;
          color: $color-input-grey;

          & .q-icon {
            width: 24px;
            height: 24px;
          }

          & .q-ripple {
            display: none;
          }
        }

        &-btn:before {
          box-shadow: none !important;
          transition: none !important;
        }
      }
    }

    &-list {
      margin-top: 4px;

      &-item-wrapper {
        display: flex;
        width: 100%;
        background: $color-grey;
        border-radius: 8px;
        padding: 8px 12px;
        @include responsive(desktop) {
          background: none;
        }
      }

      &-item {
        padding: 0;
        height: 52px;
        border-radius: 8px;
        margin-bottom: 4px;

        &:hover {
          @include responsive(desktop) {
            background: $color-hover-grey;
          }

          & .settings-accounts-account-list-item-more .q-focus-helper {
            display: none;
          }

          & .settings-accounts-account-list-item-more-btn {
            opacity: 1;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }

        &-draggable {
          padding-right: 4px;

          &-icon {
            color: $color-input-grey;
          }
        }

        &-avatar {
          min-width: 24px;
          color: $color-input-grey;
          padding-right: 0;
          margin-right: 16px;
        }

        &-info {
          width: 100%;

          &-container {
            display: flex;
            flex-direction: row;
            margin-top: 4px;
          }
        }

        &-more {
          padding: 0;

          &-btn {
            opacity: 0;
          }
        }

        &-name {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: $color-text-black;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          min-width: 0;
          align-items: center;
        }

        &-name-text {
          display: block;
          min-width: 0;
        }

        &-currency {
          flex: none;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: $color-label-grey;

        }

        &-balance {
          flex: none;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: $color-input-grey;
          margin-left: 4px !important;
        }

        &-shared {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: normal !important;
          position: absolute;
          top: 12px;
          right: 25px;
          padding-right: 0;
          @include responsive(desktop) {
            right: 50px;
          }

          &-icon {
            width: 16px;
            height: 16px;
            color: $color-magenta;
            margin-left: 4px;
          }

          &-avatar {
            margin-right: -12px;
            width: 28px;
            height: 28px;
            & img {
              border: 2px solid $color-grey;
            }
          }

        }
      }
    }
  }

  &-account:last-child {
    margin-bottom: 0;
  }
}

.preview-modal {
  & .q-dialog__inner {
    padding: 0;
  }

  &-card {
    position: relative;
    width: 100%;
    max-width: 480px !important;
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;

    // TODO: Возможно нужно будет так сделать
    //@include responsive(desktop) {
    //  border-radius: 0 !important;
    //  width: 100%;
    //  height: 100%;
    //  max-height: 100% !important;
    //  max-width: 100% !important;
    //}
    @include responsive(desktop) {
      border-radius: 16px !important;
      width: 480px;
      height: auto;
      max-width: 480px;
    }
  }

  &-section {
    padding-bottom: 8px;
    @include responsive(desktop) {
      max-width: 480px;
    }

    &.-info {
      padding-top: 0;
      padding-bottom: 80px;
    }
  }

  &-breadcrumbs {
    padding: 16px 16px 0;
  }

  &-head {
    display: flex;
    height: 32px;
    padding: 4px 0;
    margin-bottom: 16px;

    &-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-transform: uppercase;
      color: $color-text-black;
      white-space: nowrap;
      @include responsive(desktop) {
        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
        text-transform: none;
      }
    }

    &-shared {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      @include responsive(desktop) {
        justify-content: flex-start;
      }

      &-label {
        background: $color-magenta-light;
        border-radius: 8px;
        padding: 6px 8px;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        color: $color-magenta-dark;
      }

      &-icon {
        width: 24px;
        height: 24px;
        color: $color-magenta;
        font-weight: 500;
        font-size: 24px;
        margin: 0 8px;
      }
    }
  }

  &-account {

    &-item {
      padding: 8px 12px;
      background: $color-grey;
      border-radius: 8px;

      &-avatar {
        min-width: 24px;
        color: $color-input-grey;
        padding-right: 18px;
      }

      &-box {
        display: flex;
        flex-direction: column;

        &-name {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: $color-text-black;
          margin-bottom: 4px;
        }

        &-balance {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: $color-input-grey;
          padding-left: 0 !important;
        }
      }
    }

    &-info {

      &-item {
        padding: 4px 8px;
        margin-bottom: 8px;

        &-label {
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: $color-label-grey;
          margin-bottom: 4px;

          &.-access {
            margin-bottom: 0;
          }
        }

        &-content {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: $color-input-grey;
        }
      }

      &-access {
        margin-bottom: 8px;

        &-item {
          display: flex;
          padding: 8px;
          background-color: $color-grey;
          border-radius: 8px;
          margin-bottom: 4px;

          &:last-child {
            margin-bottom: 0;
          }

          &-avatar {
            width: 48px;
            height: 48px;
            border-radius: 12px;
            margin-right: 16px;
          }

          &-user {
            padding: 4px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &.-center {
              justify-content: center;
            }

            &-name {
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              color: $color-text-black;
            }

            &-role {
              font-weight: 500;
              font-size: 14px;
              line-height: 16px;
              color: $color-text-grey;
            }
          }
        }

        &-empty {
          padding: 4px 8px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: $color-input-grey;
        }

        &-btn {
          width: fit-content;
          padding: 4px 8px;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: $color-label-grey;
          text-decoration: underline;
          text-decoration-color: $color-magenta-light;
          cursor: pointer;

          &:hover {
            color: $color-input-grey;
          }
        }

        &-actions {
          position: fixed;
          bottom: 0;
          background: $color-white;
          width: 100%;
          max-width: 480px !important;
          padding: 16px;
          flex-wrap: nowrap;
          @include responsive(desktop) {
            position: relative;
          }

          &-btn {
            min-width: 48px !important;
            border-radius: 16px !important;

            &.-wide {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.access-modal {

  & .q-dialog__inner {
    padding: 0;
  }

  &-title {
    padding: 4px 8px;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $color-label-grey;
  }

  &-note {
    padding: 4px 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: $color-input-grey;
  }

  &-toolbar {
    margin-bottom: 0;
  }

  &-section {
    padding-bottom: 0;
    @include responsive(desktop) {
      padding-bottom: 16px;
    }

    &.-toolbar {
      @include responsive(desktop) {
        display: none;
      }
    }
  }

  &-card {
    max-height: 100vh !important;
    max-width: 100vh !important;
    height: 100vh;
    width: 100vh;
    border-radius: 0 !important;
    @include responsive(desktop) {
      border-radius: 16px !important;
      height: auto;
      max-width: 480px !important;
    }
  }
}
