.settings-profile {
  padding: 16px;
  background: $color-white;

  &-wrapper {
    @include responsive(desktop) {
      max-width: 480px;
    }
  }

  &-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0 16px;
    @include responsive(desktop) {
      flex-direction: row;
      padding: 0 0 24px 0;
    }

    &-avatar {
      width: 96px;
      height: 96px;
      border-radius: 24px;
    }

    &-group {
      margin: 8px 0 0 0;
      padding: 8px;
      @include responsive(desktop) {
        padding: 0;
        margin: 0 0 0 24px;
      }

      &-name {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: $color-text-black;
        margin-bottom: 4px;
        @include responsive(desktop) {
          text-align: left;
        }
      }

      &-login {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: $color-text-grey;
        margin-bottom: 4px;
        @include responsive(desktop) {
          text-align: left;
        }
      }

      &-logout {
        display: none;
        @include responsive(desktop) {
          display: block;
          width: fit-content;
          margin-top: 16px;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          text-transform: uppercase;
          color: $color-magenta;
          cursor: pointer;
        }
      }
    }
  }

  &-controls {
    &-input.-name {
      padding-bottom: 4px;
    }
  }
}
