on:
  workflow_call:
    inputs:
      ECONUMO_EDITION:
        required: true
        type: string
      REPO_PATH:
        required: true
        type: string
    secrets:
      BUILD_USER_EMAIL:
        required: true
      BUILD_USER_TOKEN:
        required: true

jobs:
  build-and-publish:
    name: build-and-publish
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: 'main'
          path: 'frontend'

      - name: Set Environment
        run: |
          rm -f "${GITHUB_WORKSPACE}/frontend/.env"
          cp "${GITHUB_WORKSPACE}/frontend/.env.$(echo "${{ inputs.ECONUMO_EDITION }}")" "${GITHUB_WORKSPACE}/frontend/.env"

      - name: Setup Node.js
        if: success()
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        if: success()
        run: |
          npm install -g @quasar/cli
          cd "${GITHUB_WORKSPACE}/frontend"
          npm ci
          npm run build

      - uses: actions/checkout@v4
        with:
          repository: ${{ inputs.REPO_PATH }}
          ref: 'main'
          token:  ${{ secrets.BUILD_USER_TOKEN }}
          path: 'dist'

      - name: Debug dist path
        run: |
          echo "Checking content of the dist directory"
          ls -alh "${GITHUB_WORKSPACE}/frontend/dist/spa/"
          ls -alh "${GITHUB_WORKSPACE}/dist/"

      - name: Push DIST
        if: success()
        env:
          GITHUB_TOKEN: ${{ secrets.BUILD_USER_TOKEN }}
        run: |
          set -e
          
          # Check if the dist/dist folder exists before attempting to remove it
          if [[ -d "${GITHUB_WORKSPACE}/dist/dist" ]]; then
            rm -rf "${GITHUB_WORKSPACE}/dist/dist"
          else
            echo "No existing dist/dist directory to remove"
          fi

          # Copy distribution files
          cp -R "${GITHUB_WORKSPACE}/frontend/dist/spa/" "${GITHUB_WORKSPACE}/dist/dist" || {
            echo "Failed to copy distribution files"
            exit 1
          }
          
          cd "${GITHUB_WORKSPACE}/dist"
          
          # Check if there are changes to commit
          if [[ -n $(git status --porcelain) ]]; then
            git config user.name "GitHub Actions"
            git config user.email "${{ secrets.BUILD_USER_EMAIL }}"
            git add .
            git commit -m "Update dist" || {
              echo "Failed to commit changes"
              exit 1
            }
          
            # Push changes using GITHUB_TOKEN
            git push origin main || {
              echo "Failed to push changes"
              exit 1
            }
          else
            echo "No changes to commit"
          fi