name: Publish Beta

on:
  workflow_dispatch:
  workflow_call:
    secrets:
      BUILD_USER_TOKEN:
        required: true
  repository_dispatch:
    types: [distribute-beta]

concurrency:
  group: 'docker-publish-beta'
  cancel-in-progress: true

jobs:
  publish-beta-ce:
    uses: ./.github/workflows/embedded-build-package.yml
    with:
      REGISTRY: 'docker.io'
      IMAGE_NAME: 'econumo/econumo-ce'
      IMAGE_TAGS: 'beta'
      ECONUMO_EDITION: 'ce'
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      BUILD_USER_TOKEN: ${{ secrets.BUILD_USER_TOKEN }}

  publish-beta-cloud:
    uses: ./.github/workflows/embedded-build-package.yml
    with:
      REGISTRY: 'ghcr.io'
      IMAGE_NAME: 'econumo/econumo-cloud'
      IMAGE_TAGS: 'beta'
      ECONUMO_EDITION: 'cloud'
    secrets:
      DOCKER_USERNAME: ${{ github.actor }}
      DOCKER_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
      BUILD_USER_TOKEN: ${{ secrets.BUILD_USER_TOKEN }}
